<nav aria-label="Page navigation example ">
    <ul class="pagination justify-content-center mt-3 ">
      <li class="page-item ">
        <a class="page-link" routerLink="/page/{{goBackPage()}}" >Назад</a>
      </li>
      <li *ngFor="let item of [].constructor(imagesComponent.countBtn);index as i" class="page-item" routerLinkActive="active" ><a class="page-link" routerLink="/page/{{i+1}}"  >{{i+1}}</a></li>
    
      <li class="page-item">
        <a class="page-link" routerLink="/page/{{goUpPage()}}">Вперед</a>
      </li>
    </ul>
  </nav>